/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #763626;
  height: 7.5vh;
}
.dashboard-nav {
  display: flex;
  margin-left: 3rem;
  width: 90%;
}
.dashboard-nav div {
  background-color: #f3af34;
  margin: 10px 0rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #1a1a1a;
  text-transform: capitalize;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px #1a1a1a;
}

.dashboard-nav div:active {
  background-color: #1a1a1a;
  color: white;
}

.authentication-nav {
  display: flex;
  flex-direction: row;
  width: 15%;
}

.authentication-nav div.login,
div.register {
  font-size: 1.5rem;
  text-transform: capitalize;
  border-radius: 10px;
  color: #1a1a1a;
  background-color: #f3af34;
  margin: 10px 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 10px #1a1a1a;
}

.authentication-nav div.login:active,
div.register:active {
  background-color: #1a1a1a;
  color: white;
}
/* authentication (Login&Register) page*/
.container-authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92.5vh;
  background-color: #5995fd;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #f3af34;
  height: 37rem;
  width: 27rem;
  border-radius: 40px;
  position: fixed;
  box-shadow: 0px 0px 25px #1a1a1a;
}

.auth-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2.title {
  font-size: 2.3rem;
  text-transform: capitalize;
  margin: 3rem 0rem 4rem;
}

.panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(310px);
}

.panel-container:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #763626;
  box-shadow: 0px 0px 30px #1a1a1a;
  height: 7rem;
  width: 17rem;
  border-radius: 40px;
  transition: 2s;
  transform: translateY(330px);
  color: white;
}

.panel-container h3 {
  text-transform: capitalize;
  margin: 0;
}

/*===DASHBOARD-PAGE====*/

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5995fd;
  height: 92.5vh;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin-left: 3rem;
  margin-right: 2rem;
  height: 85vh;
}

.box-vscom {
  width: 100%;
  height: 25%;
}

.horizontal-line {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.create-room {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15%;
}

.create-room h3 {
  font-size: 1.5rem;
  font-style: italic;
  text-transform: capitalize;
  color: #f3af34;
  margin-right: 0.5em;
  text-shadow: 2px 2px 0px #1a1a1a;
}

.rooms {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.rooms-row {
  display: flex;
  flex-direction: row;
}

h3.title-room {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 0px #1a1a1a;
}

.biodata {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #1a1a1a;
  background-color: #f3af34;
  width: 30%;
  padding: 1.5em;
  margin-right: 3rem;
  margin-left: 2rem;
  height: 80vh;
}

/*==create-room page==*/

.create-new-room {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 92.5vh;
  background-color: #9c835f;
}

.choices {
  display: flex;
  flex-direction: row;
}
.box {
  padding: 1.5em;
  margin: 4em;
}

.rock img {
  width: 125px;
  height: 135px;
}
.paper img {
  /* width: 105px;
    height: 140px; */
  width: 115px;
  height: 135px;
}
.scissor img {
  /* width: 124px;
    height: 150px; */
  width: 125px;
  height: 135px;
}

.your-choice {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  color: #f3af34;
  text-shadow: 2px 2px 10px #1a1a1a;
}

.btn-save {
  display: flex;
  justify-content: center;
}
