.box-fight {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #f3af34;
  box-shadow: 0px 0px 20px #1a1a1a;
  padding: 10px;
  margin: 0em 0.5em 2em 0.5em;
  width: 15em;
  height: 5em;
}

.box-fight h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #1a1a1a;
  margin-bottom: 0;
}

.box-fight p {
  margin-top: 0;
}
