button.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 150px;
  height: 49px;
  background-color: #763626;
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 5px 5px 5px #1a1a1a;
}

button.button:active {
  box-shadow: none;
  background-color: #1a1a1a;
  color: white;
}

.btn {
  margin: 1rem 0;
  color: #5995fd;
  background: none;
  border: solid #5995fd;
  border-radius: 50px;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.btn:hover {
  color: #fff;
  border: 2px solid #fff;
}
.btn:active {
  background-color: #f3af34;
  color: #1a1a1a;
  border: none;
}