.input-field {
  display: flex;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  padding: 0 0.4rem;
  box-shadow: 5px 5px 10px #333333;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
  text-transform: capitalize;
}
