.prevnext a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.prevnext a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  width: 4.7em;
}

.next {
  background-color: #1a1a1a;
  color: white;
  width: 4.7em;
}
