
.social-text {
    margin: 1rem 0;
    color: #1a1a1a;
    text-transform: capitalize;
    font-size: large;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border: 1px solid #1a1a1a;
    border-radius: 50px;
    background-color: #1a1a1a;
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-icon:hover {
    background-color: #f3af34;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
    color: #1a1a1a;
}